.inputOffer {
  width: 473px;
  height: 75.44px;

  border-radius: 25.1468px;
  border: none;

  margin-bottom: 30px;
  padding: 27px 0px 27px 50px;

  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.03em;

  color: #6c6c6c;
}
